<nav class="navbar navbar-expand-lg mb-5">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Корпоративная база знаний</a>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="#">Материалы</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'staff' %}">Сотрудники</a>
                </li>
            </ul>
        </div>
        {% if request.user.pk %}
        <div class="d-flex">
            <a class="nav-link" href="{% url 'profile' request.user.pk %}">Профиль</a>
        </div>
        {% endif %}
    </div>
</nav>