{% extends 'base.html' %}
{% load static %}

{% block title %}Список сотрудников{% endblock %}

{% block content_title %}Список сотрудников{% endblock %}

{% block content %}
{% for employee in employee_list %}
<a class="col-md-auto mb-5" href="{% url 'profile' employee.pk %}">
    <div style="width: 18rem">
        <img src="{% static 'staff/img/employee.svg' %}" width="100" height="100" class="card-img-top">
        <div class="card-body">
            <h5 class="card-title text-center">{{ employee.fio }}</h5>
        </div>
    </div>
</a>
{% endfor %}
{% endblock %}